extends partial/default.jade
block content
  .Hero.u-textCenter
    .Hero-image
      #particles-js
    .Hero-content
      .Container
        h1.Hero-title End to end loyalty solutions
        p we are bringing loyalty to the next level.
    .Hero-action
  
  section.py3
    .Container
      header.Section-header.u-textCenter.mb0
        h2.Section-title our services
      article.u-textCenter.hack-Grid-flipL
        .Grid.Grid--withGutter.Grid--alignMiddle
          .Grid-cell.u-md-size1of2
            img(src="/asset/img/ill/buildengine.svg", alt="")
          .Grid-cell.u-md-size1of2
            .Container.Container--full.Container--small
              h3 Loyalty Engine
              p Building a comprehensive and sound blueprint is jus as important as the development it self. Let our experience advisor lead you all the way.
        .Grid.Grid--withGutter.Grid--alignMiddle
          .Grid-cell.u-md-size1of2
            img(src="/asset/img/ill/platform.svg", alt="")
          .Grid-cell.u-md-size1of2
            .Container.Container--full.Container--small
              h3 Platform
              p Having your own ideal platform for your system does not have to be expensive and takes a long time. We are providing all range of options for your needs.
        .Grid.Grid--withGutter.Grid--alignMiddle
          .Grid-cell.u-md-size1of2
            img(src="/asset/img/ill/link.svg", alt="")
          .Grid-cell.u-md-size1of2
            .Container.Container--full.Container--small
              h3 Marchant Network
              p loyalty system will be appreciated ud ut can be redeemed at favourite merchants. We will make sure your system is fully connected with seamless.
            
  
  section.py3
    .Container
      header.Section-header.u-textCenter
        h2.Section-title Electornic Vouchers redemption
      article
        .Grid
          .Grid-cell.u-md-size1of2
            .Media.u-mB1
              .Media-img
                img.icon-medium.mr2(src="asset/img/icon/basic_download.svg", alt="")
              .Media-content
                h3 Distributions
                p eVouchers can be distributed electronically (via SMS, Mobile App, Email)
            .Media.u-mB1
              .Media-img
                img.icon-medium.mr2(src="asset/img/icon/printer.svg", alt="")
              .Media-content
                h3 Reporting
                p eVouchers will be recorded in real-time on web-based tool
            .Media.u-mB1
              .Media-img
                img.icon-medium.mr2(src="asset/img/icon/moneybag.svg", alt="")
              .Media-content
                h3 payment
                p Only pay for the eVouchers that has been successfully claimed at the merchant.
          .Grid-cell.u-md-size1of2.u-textCenter.u-sm-flexOrderFirst.mb3
            img(src="/asset/img/mockup-depan.png", alt="")
  
  section.py3
    .Container
      header.Section-header.u-textCenter.mb0
        h2.Section-title Issuer
      section
        .Grid
          .Grid-cell.u-size1of3.u-lg-size1of5
            figure.Figure--slideDown
              img(src="asset/img/logo/alfamart.jpg", alt="")
              figcaption
                h4 Alfamart
          .Grid-cell.u-size1of3.u-lg-size1of5
            figure.Figure--slideDown
              img(src="asset/img/logo/alliance.jpg", alt="")
              figcaption
                h4 allianz
          .Grid-cell.u-size1of3.u-lg-size1of5
            figure.Figure--slideDown
              img(src="asset/img/logo/acc.jpg", alt="")
              figcaption
                h4 ACC
          .Grid-cell.u-size1of3.u-lg-size1of5
            figure.Figure--slideDown
              img(src="asset/img/logo/auto2000.jpg", alt="")
              figcaption
                h4 Auto2000
          .Grid-cell.u-size1of3.u-lg-size1of5
            figure.Figure--slideDown
              img(src="asset/img/logo/indosat2.jpg", alt="")
              figcaption
                h4 Indosat
          .Grid-cell.u-size1of3.u-lg-size1of5
            figure.Figure--slideDown
              img(src="asset/img/logo/luft.jpg", alt="")
              figcaption
                h4 Luft
          .Grid-cell.u-size1of3.u-lg-size1of5
            figure.Figure--slideDown
              img(src="asset/img/logo/line.jpg", alt="")
              figcaption
                h4 Line
          .Grid-cell.u-size1of3.u-lg-size1of5
            figure.Figure--slideDown
              img(src="asset/img/logo/lotte.jpg", alt="")
              figcaption
                h4 LotteMart
          .Grid-cell.u-size1of3.u-lg-size1of5
            figure.Figure--slideDown
              img(src="asset/img/logo/kfc.jpg", alt="")
              figcaption KFC
          .Grid-cell.u-size1of3.u-lg-size1of5
            figure.Figure--slideDown
              img(src="asset/img/logo/shell.jpg", alt="")
              figcaption Shell
                
  section.py3
    .Container
      header.Section-header.u-textCenter.mb0
        h2.Section-title merchants
      section
        .Grid
          .Grid-cell.u-size1of3.u-lg-size1of5
            figure.Figure--slideDown
              img(src="asset/img/logo/alfamart.jpg", alt="")
              figcaption Alfamart
          .Grid-cell.u-size1of3.u-lg-size1of5
            figure.Figure--slideDown
              img(src="asset/img/logo/blitz.jpg", alt="")
              figcaption CGV blitz
          .Grid-cell.u-size1of3.u-lg-size1of5
            figure.Figure--slideDown
              img(src="asset/img/logo/dq.jpg", alt="")
              figcaption Dairy Queen
          .Grid-cell.u-size1of3.u-lg-size1of5
            figure.Figure--slideDown
              img(src="asset/img/logo/acc.jpg", alt="")
              figcaption
                h4 ACC
          .Grid-cell.u-size1of3.u-lg-size1of5
            figure.Figure--slideDown
              img(src="asset/img/logo/auto2000.jpg", alt="")
              figcaption
                h4 Auto2000
          .Grid-cell.u-size1of3.u-lg-size1of5
            figure.Figure--slideDown
              img(src="asset/img/logo/kfc.jpg", alt="")
              figcaption KFC
          .Grid-cell.u-size1of3.u-lg-size1of5
            figure.Figure--slideDown
              img(src="asset/img/logo/shell.jpg", alt="")
              figcaption Shell
          .Grid-cell.u-size1of3.u-lg-size1of5
            figure.Figure--slideDown
              img(src="asset/img/logo/standar.jpg", alt="")
              figcaption standar
          .Grid-cell.u-size1of3.u-lg-size1of5
            figure.Figure--slideDown
              img(src="asset/img/logo/superdry.jpg", alt="")
              figcaption superdry
          .Grid-cell.u-size1of3.u-lg-size1of5
            figure.Figure--slideDown
              img(src="asset/img/logo/lotte.jpg", alt="")
              figcaption LotteMart
          
