include partial/mockup.jade
extends partial/default.jade
block content
  .Container.py4
    .Grid
      .Grid-cell.u-md-size2of3
        h2.Section-title services
        h1.Hero-title System Development & Integration
      .Grid-cell
        .u-textCenter
          img(src="asset/img/ill/buildengine.svg", alt="")
          //object#BuildEngine(type="image/svg+xml" data="asset/img/ill/buildengine.svg")
  section.py3
    .Container
      .Container.Container--full.u-md-col2.u-lg-col3.dropcap
        p System development will always be a customized project for any company and it has to start form a solid blue print to work on. Once completed it will enter the development phase which will go through series of testing and stress tests until it is fully ready to be deployed. in a daily basis and the system has to function properly virtually all the time. This kind of standard has to be maintained in a professional manner to make sure seamless experience for customers.
        p InTouch is providing end-to-end loyalty solutions that will suite your project. Our team has more than 10 years of experiences in the industry managing large to multinational corporations which we will bring into building yours.
  section
    .Container
      header.Section-header.pt3
        h2.Section-title.u-textCenter Highlight project
      section
        .Timeline.Timeline--vertical
          .Timeline-item
            .Timeline-img
              img.thumb--medium(src="asset/img/logo/shell.jpg", alt="")
            .Timeline-content
              h3 Shell
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis sed reprehenderit quae consequuntur numquam eaque necessitatibus natus, animi minus voluptate totam sequi iste ad explicabo voluptates, ipsa odio laborum incidunt!
          .Timeline-item
            .Timeline-img
              img.thumb--medium(src="asset/img/logo/lotte.jpg", alt="")
            .Timeline-content
              h3 LotteMart
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis sed reprehenderit quae consequuntur numquam eaque necessitatibus natus, animi minus voluptate totam sequi iste ad explicabo voluptates, ipsa odio laborum incidunt!
              
          .Timeline-item
            .Timeline-img
              img.thumb--medium(src="asset/img/logo/samsung.jpg", alt="")
            .Timeline-content
              h3 Samsung
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis sed reprehenderit quae consequuntur numquam eaque necessitatibus natus, animi minus voluptate totam sequi iste ad explicabo voluptates, ipsa odio laborum incidunt!
