extends partial/default.jade
block content
  .Container.pt3.pb4
    article.u-textCenter.hack-Grid-flipL
      .Grid.Grid--withGutter.Grid--alignMiddle
        .Grid-cell.u-md-size1of2
          img(src="asset/img/ill/buildengine.svg", alt="")
        .Grid-cell.u-md-size1of2
          .Container.Container--full.Container--small
            h3 System Development & Integration
            p Building a comprehensive and sound blueprint is jus as important as the development it self. Let our experience advisor lead you all the way.
            a.Button.Button--transparent(href="service-item.html") view detail
      .Grid.Grid--withGutter.Grid--alignMiddle
        .Grid-cell.u-md-size1of2
          img(src="asset/img/ill/platform.svg", alt="")
        .Grid-cell.u-md-size1of2
          .Container.Container--full.Container--small
            h3 Platform
            p Having your own ideal platform for your system does not have to be expensive and takes a long time. We are providing all range of options for your needs.
            a.Button.Button--transparent(href="service-item.html") view detail
      .Grid.Grid--withGutter.Grid--alignMiddle
        .Grid-cell.u-md-size1of2
          img(src="asset/img/ill/link.svg", alt="")
        .Grid-cell.u-md-size1of2
          .Container.Container--full.Container--small
            h3 Merchant Network & Aggregators
            p loyalty system will be appreciated ud ut can be redeemed at favourite merchants. We will make sure your system is fully connected with seamless.
            a.Button.Button--transparent(href="service-item.html") view detail
