include partial/mockup.jade
extends partial/default.jade
block content
  .Container.pt4
    .Grid
      .Grid-cell.u-md-size2of3
        h2.Section-title services
        h1.Hero-title.mb4 Merchant Network & Aggregators
      .Grid-cell
        .u-textCenter
          img.mb4#link-img(src="asset/img/ill/link.svg", alt="")
  section.py4
    .Container
      .Container.Container--full.u-md-col2.u-lg-col3.dropcap
        p Whether your loyalty program is as complex as reward point or as simple as discount vouchers, you need them to be able to connect with popular retail merchants to be appreciated by your customers.

        p For many companies managing merchants in-house is sometimes need to develop a full team to do so. This is where InTouch will please to help. Our merchant aggregator service will provide end to end service from: Merchant Acquisition, Negotiation, Pre-funding, Training , Deployment, Settlement , Reporting, to name a few. Focus on your core business, let us help maintain your merchants. 

        p Moreover, our eVoucher MORE service is fully connected with more than 22,000 merchant stores across Indonesia. This enable you to send electronic vouchers to your customers via digital (SMS, eMail , mobile app) instantly in real time, while you competitor’s customers will receive their physical vouchers by mail a few days later.
  section.bg-light-grey.py4
    .Container
      header.Section-header.u-textCenter
        h2.Section-title Solution
        h1.Hero-title MORE
        .Container.Container--full.Container--small
          p.lead An electronic vouchers platforms that can be distributed instantly via sms, mobile app, physical vouchers.
      section.mb4
        .Container
          .AppSlider.u-textCenter
            img.AppSlider-device(src="/asset/img/mockup/iphonefront.png", alt="")
            .AppSlider-content.slider
              .div
                img(src="asset/img/ss/ss1.png", alt="")
              .div
                img(src="asset/img/ss/ss2.png", alt="")
              .div
                img(src="asset/img/ss/ss3.png", alt="")
              .div
                img(src="asset/img/ss/ss4.png", alt="")
              .div
                img(src="asset/img/ss/ss5.png", alt="")
              .div
                img(src="asset/img/ss/ss6.png", alt="")
      section
        .Container.Container--full
          header.Section-header.u-textCenter
            h2.Section-title Feature
        .Container.Container--full.Container--small
          .Media
            .Media-img
              img(src="", alt="")
            .Media-content
              h3 Logistic & Distributions
              p Distributed instantly & securely via digital (SMS, Mobile App, Email) right into customers phone
          .Media
            .Media-img
              img(src="", alt="")
            .Media-content
              h3 Keeping
              p Voucher code is kept securely at server and generated only upon order request
          .Media
            .Media-img
              img(src="", alt="")
            .Media-content
              h3 Payment
              p Charging only for the vouchers that is successfully claimed at the merchant 
          .Media
            .Media-img
              img(src="", alt="")
            .Media-content
              h3 Reporting
              p Real-time web-based report 
          
      section.bg-light-grey.pt2
        .Container.Container--small.u-textCenter
          a.Button.Button--primary.Button--large(href="") Ask For Trial
  section.py4
    .Container
      header.Section-header
        h2.Section-title.u-textCenter Highlight project
      section
        .Timeline.Timeline--vertical
          .Timeline-item
            .Timeline-img
              img.thumb--medium(src="asset/img/logo/shell.jpg", alt="")
            .Timeline-content
              h3 Shell
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis sed reprehenderit quae consequuntur numquam eaque necessitatibus natus, animi minus voluptate totam sequi iste ad explicabo voluptates, ipsa odio laborum incidunt!
          .Timeline-item
            .Timeline-img
              img.thumb--medium(src="asset/img/logo/lotte.jpg", alt="")
            .Timeline-content
              h3 LotteMart
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis sed reprehenderit quae consequuntur numquam eaque necessitatibus natus, animi minus voluptate totam sequi iste ad explicabo voluptates, ipsa odio laborum incidunt!
              
          .Timeline-item
            .Timeline-img
              img.thumb--medium(src="asset/img/logo/samsung.jpg", alt="")
            .Timeline-content
              h3 Samsung
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis sed reprehenderit quae consequuntur numquam eaque necessitatibus natus, animi minus voluptate totam sequi iste ad explicabo voluptates, ipsa odio laborum incidunt!
