extends partial/default.jade
block content
  .Container
    article.u-textCenter.hack-Grid-flipL
      .Grid.Grid--withGutter.Grid--alignMiddle.u-pY3
        .Grid-cell.u-md-size1of2
          img(src="/asset/img/engine.svg", alt="")
        .Grid-cell.u-md-size1of2
          .Container.Container--full.Container--small
            h3 Our Vision
            p To be the leading loyalty provider in Indonesia with the widest merchants networks coverage
      .Grid.Grid--withGutter.Grid--alignMiddle.u-pY3
        .Grid-cell.u-md-size1of2
          img(src="/asset/img/platform.svg", alt="")
        .Grid-cell.u-md-size1of2
          .Container.Container--full.Container--small
            h3 Our Mission
            p Providing the most innovative and comprehensive end-to-end loyalty service with high quality service and innovation
          
