/** @define Button */

.Button {
  border-radius: 2px;
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: 0.05em;
  padding: 0.35rem 1.5rem;
  text-transform: uppercase;
}

.Button--transparent {
  background-color: transparent;
  border: transparent;
}

.Button--primary {
  background-color: var(--color-primary);
  color: #fff;
}

.Button--primary:hover {
  box-shadow: 0, 0, 5px, 5px, rgba(#000,.1);
  color: #fff;
}

.Button--large {
  padding: 1rem 4.5rem;
}