.MainHeader {
	position: relative;
  background-color: #fff;
  box-shadow: 0 2px 5px 0px rgba(#000,0);
}

.MainHeader.MainHeader-onScroll {
  box-shadow: 0 2px 5px 0px rgba(#000,0.2);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.MainHeader .Container {
  display: flex;
  justify-content: space-between;
  height: 48px;
  align-items: center;
}

.MainHeader-logo img {
  height: 32px;
}

.MainHeader-nav {
  display: none;
  align-items: center;
}

.MainHeader-nav a {
  display: inline-block;
  line-height: 48px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 700;
  text-decoration: none;
  padding: 0 1rem;
  transition: all 200ms ease;
  background-color: transparent;
  color: inherit;
}

.MainHeader-nav a:hover {
  background-color: var(--color-primary);
  transition: all 200ms ease;
  color: #fff;
}

.js-navToggle {
  height: 40px;
  width: 40px;
  line-height: 40px;
  padding: 0;
  margin:0;
  font-size: 24px;
  background-color: var(--color-primary);
  color: #fff;
  border-radius: 2px;
}

@media (--sm-viewport) {
  .MainHeader-nav {
    display: none;
  }
}

@media (--md-viewport) {
  .MainHeader-nav {
    display: none;
  }
}

@media (--lg-viewport) {
  .js-navToggle {
    display: none;
  }

  .MainHeader-nav {
    display: flex;
    align-items: center;
  }
}

.MobileNav {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  background-color: #fff;
  display: none;
  flex-direction: column;
  justify-content: center;
}

.MobileNav.is-active {
  display: flex;
}

.MobileNav > .Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.MobileNav .Container > a,
.MobileNav .Container > div {
  line-height: 48px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 700;
  text-decoration: none;
  padding: 0 1rem;
  transition: all 200ms ease;
  background-color: transparent;
  color: inherit;
  width: 100%;
  text-decoration: none;
  color: inherit;
  border-bottom: 1px solid rgba(#000,0.2);
}

.MobileNav .socialmed {
  display: flex;
  text-align: center;
  align-items: center;
  height: 48px;
  border-bottom: none!important;
}

.MobileNav .socialmed a {
  text-decoration: none;
  height: 40px;
  width: 40px;
  line-height: 40px;
  margin-right: 1rem;
  vertical-align: middle;
}

.js-navToggleClose {
  position: absolute;
  right: 16px;
  height: 40px;
  width: 40px;
  line-height: 40px;
  padding: 0;
  margin:0;
  font-size: 24px;
  background-color: var(--color-primary);
  color: #fff;
  border-radius: 2px;
  text-decoration: none;
  text-align: center;
  top: 8px;
}

