html {
  background-color: #fcfcfc;
  font-family: var(--font-body);
  font-size: 87.5%;
  font-weight: 300;
  line-height: 1.5;
}

body {
  color: var(--color-body-text);
  
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-header-text);
  margin-top: 0;
}

p {
  margin-bottom: 1.5em;
}

p + p {
  margin-bottom: 1.5rem;
}

.Section-title {
  font-size: responsive 1.25rem 2rem;
  font-weight: 200;
  text-transform: capitalize;
}

h3 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 0;
}
