footer.MainFooter



nav.MobileNav
  a(href="#").js-navToggleClose x
  .Container
    a(href="/vision.html") Vision
    a(href="/service.html") Services
    a(href="/app.html") App Center
    a(href="/portfolio.html") Portfolio
    a(href="/contact.html") Contact
    a(href="/merchant.html") for Merchant
    .socialmed
      a(href="") T
      a(href="") F
      a(href="") G+
      a(href="") I
