footer.MainFooter
  .Container.py4.u-flex.u-sm-flexCol.u-flexJustifyBetween.u-flex.u-lg-flexAlignsCenter
    .u-flex
      p.m0 © PT. Intouch Innovate Indonesia
    nav.u-flex.u-sm-flexCol.u-flexJustifyCenter
      a(href="/index.html") Home
      a(href="/vision.html") Vision
      a(href="/service.html") Services
      a(href="/app.html") App Center
      a(href="/portfolio.html") Portfolio
      a(href="/contact.html") Contact
      a(href="/merchant.html") for Merchant
      .socialmed.u-flex
        //- a(href="") T
        //- a(href="") F
        //- a(href="") G+
        //- a(href="") I



nav.MobileNav
  a(href="#").js-navToggleClose x
  .Container
    a(href="/index.html") Home
    a(href="/vision.html") Vision
    a(href="/service.html") Services
    a(href="/app.html") App Center
    a(href="/portfolio.html") Portfolio
    a(href="/contact.html") Contact
    a(href="/merchant.html") for Merchant
    .socialmed
      a(href="") T
      a(href="") F
      a(href="") G+
      a(href="") I
