header.MainHeader.MainHeader-onScroll
  .Container
    a.MainHeader-logo(href="/index.html")
      img(src="asset/img/logo-s.png", alt="")
    nav.MainHeader-nav
      a(href="/vision.html") Vision
      a(href="/service.html") Services
      a(href="/app.html") App Center
      a(href="/portfolio.html") Portfolio
      a(href="/contact.html") Contact
      a(href="/merchant.html") for Merchant
    a.Button.js-navToggle(href="#")
      span.ion.ion-android-menu
