mixin mockupLeft
  .svg-container
    svg(version="1.1" viewBox="0 0 800 495" enable-background="new 0 0 800 495" preserveAspectRatio="xMinYMin meet")
      image(overflow="visible" width="450" height="800" xlink:href!=attributes.imgsrc, transform="matrix(0.5156 0.3304 -0.5626 0.3229 498.8594 25.6948)")
      image(overflow="visible" width="800" height="495" xlink:href="/asset/img/iphone-sideRight.png")
