* {
  box-sizing: border-box;
}

@import "./css/typo.css";

/* components */
@import "./css/container.css";
@import "suitcss-components-grid";
@import "./css/media.css";
@import "suitcss-components-button";
@import "./css/button.css";
@import "./css/figure.css";

/* block */
@import "./css/mainheader.css";
@import "./css/mainfooter.css";
@import "./css/hero.css";
@import "./css/timeline.css";


/* Utilities */
@import "suitcss-utils-flex";
@import "suitcss-utils-size";
@import "suitcss-utils-text";

@import "gravitons";

/* Variable */
:root {
  --color-primary: #0091EA;
  --color-dark-primary: #01579B;
  --color-body-text: rgba(#263238, 0.87);
  --color-header-text: #1A237E;
}

@custom-media --sm-viewport  (max-width:640px);
@custom-media --md-viewport (min-width:640px);
@custom-media --lg-viewport (min-width:960px);
@custom-media --xl-viewport (min-width:1280px);



html {
  background-color: #fcfcfc;
  font-family: "roboto";
  font-size: 100%;
  font-weight: 300;
  line-height: 1.5;
}

@media (--lg-viewport) {
  html {
    font-size: 112.5%;
  }
}

img {
  max-width: 100%;
  vertical-align: middle;
}

.hack-Grid-flipL .Grid:nth-child(2n+1) {
  flex-direction: row-reverse;
}

hr {
  border: 1px solid #eee;
}

.icon-medium {
  max-width: 64px;
}

.Section-header {
  margin-bottom: 3rem;
}

@media (--md-viewport) {
  .u-md-col2 {
    column-count: 2;
    column-gap: 1.5rem;
  }
}

.bordered {
  border: 1px solid;
}

.thumb--medium {
  max-width: 256px;
  width: 100%;
}

.bg-white2 {
  background-color: #f3f3f3;
}

main {
  margin-top: 48px;
}


@media (--lg-viewport) {
  .u-lg-col3 {
    column-count: 3;
    -webkit-column-gap: 1.5rem;
       -moz-column-gap: 1.5rem;
         -o-column-gap: 1.5rem;
            column-gap: 1.5rem;
  }
}

.dropcap p:first-child:first-letter {
  color: var(--color-header-text);
  float: left;
  font-size: 75px;
  line-height: 60px;
  padding-left: 3px;
  padding-right: 8px;
  padding-top: 4px;
}

.u-textWhite {
  color: rgba(#fff, 0.9);
}

.socialmed a {
  font-size: 12px;
}

.socialmed-m {
  font-size: 24px!important;
}

.socialmed-m a {
  margin-left: 1rem;
}

.socialmed-m:first-child a {
  margin-left: 0;
}
